.idea/.name
.idea/dataSources.ids
.idea/dataSources.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/mysite.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
mysite/__init__.pyc
mysite/settings.pyc
mysite/urls.pyc
mysite/wsgi.pyc
time_system/__init__.pyc
time_system/admin.pyc
time_system/astro.pyc
time_system/forms.pyc
time_system/jdate.pyc
time_system/models.pyc
time_system/templatetags/__init__.pyc
time_system/templatetags/tags.pyc
time_system/views.pyc
*.pyc
.idea